section.service
  .container
    +blockBox("We work with", "Amazing services")
    .service-container
        .service-list
          +serviceItem("images/amazing_icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")
          +serviceItem("images/amazing_icon2.png", "Web Design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")
          +serviceItem("images/amazing_icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")
        .service-list
          +serviceItem("images/amazing_icon4.png", "seo", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")
          +serviceItem("images/amazing_icon5.png", "CSS/HTML", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")
          +serviceItem("images/amazing_icon6.png", "digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quos.")